In [ ]:
import pandas

In [ ]:
depsev: pandas.DataFrame = pandas.read_csv("data/depsev.csv")

In [ ]:
depsev.shape

(3553, 2)

In [ ]:
depsev.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3553 non-null   object
 1   label   3553 non-null   object
dtypes: object(2)
memory usage: 2.3 MB

In [ ]:
depsev.label.value_counts()

label
minimum     2587
moderate     394
mild         290
severe       282
Name: count, dtype: int64